<h1>投稿一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= link_to 'tweetを編集する', edit_comment_path(comment.id) %></td>
  </tr>
<% end %>
</table><br>
<%= link_to '新しくTweetする', new_comment_path %>
